body {
  padding-top: 75px;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  float: right;
  border-radius: 3px;
  background-color: #000;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  background-color: transparent;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #000;
  color: #000;
  text-shadow: none;
}

.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #489fd9;
  color: #fff;
  text-shadow: none;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  margin-top: 24px;
  font-family: Roboto, sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  color: #e6eaed;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
}

.nav-link {
  padding: 26px 17px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, .5);
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #2980b9;
  color: #2980b9;
}

.nav-link.personname {
  padding-left: 11px;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section.blue {
  background-color: #e3f3fc;
}

.section.main {
  margin-top: 73px;
  background-color: #4dbd90;
  background-image: url('../images/analytics-graphic2.png');
  background-size: cover;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .23);
}

.section.grey {
  background-color: #f0f0f0;
}

.section.image {
  background-image: url('../images/town.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.section.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #34495e;
  color: #e4e8eb;
}

.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #2c3e50;
  color: #c1d4dd;
  font-size: 14px;
}

.section.purple {
  background-color: #dde7ed;
}

.section.clients {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #3e5c50;
}

.section.first {
  background-color: #34495e;
  background-image: -webkit-linear-gradient(320deg, #34495e 25%, #202d3a);
  background-image: linear-gradient(130deg, #34495e 25%, #202d3a);
}

.section.second {
  background-color: #bdc3c7;
  color: #bdc3c7;
}

.section.profilemain {
  display: block;
  background-color: #e7e8ec;
}

.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.main-subtitle {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.footer-slogan {
  margin-bottom: 11px;
  color: #9ac5db;
}

.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  margin-top: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  display: block;
  color: #9ac5db;
}

.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}

.page-link.white {
  border-bottom-color: hsla(0, 0%, 100%, .49);
  color: #fff;
}

.page-link.white:hover {
  border-bottom-color: #fff;
}

.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #e8e8e8;
}

.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #489fd9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
}

.newsletter-button:hover {
  background-color: #489fd9;
  color: #2c3e50;
}

.newsletter-form {
  width: 70%;
}

.brand-link {
  text-decoration: none;
}

.success-message {
  background-color: #5f6166;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 38px;
  line-height: 44px;
}

.section-subtitle {
  margin-bottom: 68px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.bold-text {
  font-weight: 400;
}

.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
}

.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}

.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.feature {
  text-align: left;
}

.feature.centered {
  text-align: center;
}

.feature-row {
  margin-bottom: 14px;
}

.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}

.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.testimony-text {
  margin-bottom: 21px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  margin-bottom: 2px;
  margin-left: 15px;
  color: #fff;
  font-weight: 500;
}

.title {
  display: inline-block;
  margin-top: -6px;
  margin-left: 17px;
  float: none;
  font-family: Roboto, sans-serif;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
}

.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.feature-icon {
  margin-bottom: 12px;
}

.main-feature-group {
  margin-top: 30px;
}

.center-contents {
  text-align: center;
}

.small-features-row {
  margin-top: 71px;
}

.client-logo {
  width: 16.6%;
}

.press-logo {
  width: 16%;
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.94;
}

.small-text {
  color: hsla(0, 0%, 100%, .31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

._0percent {
  padding-top: 29px;
  padding-bottom: 34px;
  color: #fff;
  font-size: 100px;
}

.text {
  display: block;
  padding-top: 29px;
  padding-bottom: 28px;
}

.mainmessage {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.why_heading {
  color: #2c3e50;
}

.single-profile {
  margin-bottom: 60px;
  box-shadow: 1px 1px 18px -9px #34495e;
}

.single-profile-header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  background-color: #477dad;
}

.profile-image {
  min-width: 70px;
}

.col {
  display: inline-block;
  width: 33.333%;
  padding: 15px 25px 10px;
  border-right: 1px solid #dfe8e4;
  border-bottom: 1px solid #dfe8e4;
  background-color: #f7f7f7;
}

.col.twocol {
  width: 66.666%;
}

.listtitle {
  color: #489fd9;
  font-weight: 500;
}

.secondmenu {
  background-color: #35394c;
}

.searchbox {
  display: block;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 41px;
  float: left;
}

.search-box-button {
  display: inline-block;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #5b7fa0;
}

.search-box-button:hover {
  background-color: #61768a;
}

.form {
  margin-bottom: 0px;
}

.email_icon {
  margin-top: 25px;
  margin-right: 31px;
  float: right;
}

.search-label {
  margin-top: 27px;
  margin-left: 150px;
  float: left;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}

.main {
  background-color: #f4f4f4;
  box-shadow: 1px 1px 3px 0 #c5c5c5;
}

.firstpart {
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
  border-bottom: 2px solid #eee;
}

.firstpart.secondpart {
  padding-right: 40px;
  padding-left: 50px;
}

.singleimage {
  display: block;
  width: 15%;
  margin-left: 35px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
}

.singlemainpart {
  display: inline-block;
  width: 60%;
  margin-top: 24px;
  padding-top: 0px;
  padding-left: 10px;
  float: left;
}

.singlename {
  margin-bottom: 3px;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
}

.singletitle {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.singleadres {
  color: #555;
  font-size: 14px;
}

.single-button-1 {
  margin-top: 20px;
  margin-right: 14px;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(47deg, rgba(101, 130, 150, .8), #489fd9 99%);
  background-image: linear-gradient(43deg, rgba(101, 130, 150, .8), #489fd9 99%);
}

.single-button-1.ssec {
  padding-top: 8px;
  padding-bottom: 8px;
  background-image: none;
}

.single-button-1.sec {
  border: 1px solid #c8ccd2;
  border-radius: 2px;
  background-color: rgba(0, 152, 255, 0);
  background-image: none;
  color: #3e4753;
}

.singleheading {
  margin-bottom: 30px;
  color: #489fd9;
  font-size: 22px;
  font-weight: 300;
  text-align: left;
}

.single-detail {
  color: #555;
}

.mainslider {
  background-color: #489fd9;
  background-image: -webkit-linear-gradient(270deg, rgba(72, 159, 217, .85), rgba(72, 159, 217, .85)), url('../images/shutterstock_143656714.jpg');
  background-image: linear-gradient(180deg, rgba(72, 159, 217, .85), rgba(72, 159, 217, .85)), url('../images/shutterstock_143656714.jpg');
  background-position: 0px 0px, 100% 93%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.mainheader {
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: Lato, sans-serif;
  color: #2c3e50;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.cta {
  display: block;
  width: 320px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
}

.fbutton {
  padding: 12px 20px;
  border-radius: 2px;
  background-color: #34495e;
  font-weight: 500;
}

.sbutton {
  padding-right: 18px;
  padding-left: 18px;
  float: right;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 500;
}

.sing-in-section {
  background-color: #e7e8ec;
}

.sign-in-box {
  display: block;
  width: 300px;
  margin: 50px auto;
  padding: 35px 25px 15px;
  background-color: #fff;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, .3);
}

.sign-in-word {
  margin-bottom: 10px;
  color: #489fd9;
  line-height: 38px;
  font-weight: 300;
  text-align: center;
}

.little-message {
  margin-bottom: 0px;
  color: #666;
  text-align: center;
}

.sign-in-button {
  display: block;
  width: 200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.sign-in-button:hover {
  background-color: rgba(72, 159, 217, .9);
}

.form-label {
  margin-top: 20px;
  color: #444;
  font-size: 17px;
  font-weight: 500;
}

.profile-pic {
  display: inline-block;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 20px;
}

.personal {
  display: inline-block;
}

.person-name {
  display: inline-block;
  padding-right: 5px;
}

.drop-down {
  position: relative;
}

.test2 {
  padding-top: 0px;
}

.arrow {
  margin-top: 4px;
}

.list.w--open {
  margin-top: -13px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .2);
}

.indi-list {
  background-color: #f3f5f7;
}

.indi-list:hover {
  background-color: rgba(243, 245, 247, .7);
}

.create-profile {
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, .3);
}

.subhead {
  margin-top: 80px;
  margin-bottom: 0px;
  color: #489fd9;
  font-size: 24px;
  text-align: left;
}

.psm {
  margin-top: 27px;
}

.logo-section {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2c3e50;
}

.slogo {
  margin-right: 40px;
  margin-left: 20px;
}

.textlogo {
  position: relative;
  top: 4px;
  display: inline-block;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.boldedpart {
  font-weight: 700;
}

.thinpart {
  position: relative;
  font-weight: 400;
}

.section1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e7e8ec;
  text-align: center;
}

.sideimage {
  border-radius: 5px;
  box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, .2);
}

.homeheader2 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #489fd9;
  font-size: 24px;
  text-align: center;
}

.firsttext {
  color: #444;
  text-align: justify;
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

@media (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }
  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }
  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    background-color: #000;
    color: #fff;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #000;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .main-image {
    margin-top: 49px;
  }
  .singleimage {
    width: 20%;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }
  .logo-text {
    margin-top: 15px;
  }
  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section.main {
    margin-top: 51px;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .footer-title {
    margin-top: 35px;
  }
  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .divider {
    width: 100%;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
  .main {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .singleimage {
    display: block;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    float: none;
  }
  .singlemainpart {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .singlename {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .single-button-1.sec {
    margin-top: 5px;
  }
  .singleheading {
    text-align: center;
  }
  .create-profile {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .client-logo {
    width: 33.33%;
  }
  .press-logo {
    width: 28%;
  }
  .create-profile {
    width: 95%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

